
#formulario {
  position: absolute;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 380px;
  background-color: white;
  border-radius: 10px;
  border: solid rgb(5, 19, 45) 3px;
}

#lrcolor{

  color: black;
  text-decoration: none;

}

#image{

  width: 300px;
  height: 300px;
}
