.grid-container{
  width: 200px;
  height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    list-style-type: none ;
    margin: 1.5%;
    gap: 20px
  

}
#formulario2 {
 display: flex;
justify-content: center;
align-items: center; 
 gap: 10px;
 width: 200px;
height: 200px;
border-radius: 10px;
     
   }
 .form-container{

 display: flex;
 justify-content: center;
 align-items: center;
 }

 body{

  background-color: rgb(245, 254, 254);
}

#boton2{
 margin-left: 60px;
 color: black;
}
.card{
 width: 200px;
height: 200px;

}